/*************************************************************************
Custom styles for MPPT

Copyright Wade Armstrong http://wadearmstrong.com
All rights reserved

MPPT holds a unlimited, unrestricted, non-exclusive license to this code
*************************************************************************/

/* Nifty red background on uppder link area */


/* Use the Font, Luke! */
h1, h2, h3, h4, h5, h6, #navigation ul li a	{
	font-family: 'Hammersmith One', sans-serif; 
}

h1, h2, h3, h4, h5, h6	{
	color: #2f368f;
}

body {
	background-image:url('/images/mppt_logo_big_screen.png');
	background-repeat:no-repeat;
	background-position:right bottom;
	margin-top: 0px !important;
}


/*That darned navbar! */

#header	{
	margin: 0px !important;
	height:	0px;
}

#navigation ul li a, .menu ul li a:link, .menu ul li a:visited 	{
	color:#fff; 
	background: none;
	font-size: larger;
	font-weight: bold;
}

#navigation ul li a:hover	{
	color:#2f368f !important;
	background: none !important;
}


#navigation	{
	margin-top: 0px;
	padding-top: 22px;
	padding-left: 12px;
 	background: #e31936;
 	border-bottom-right-radius: 20px;
 	border-bottom-left-radius: 20px;
 	-moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
 	-moz-border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
}

#navigation ul 	{
	margin-bottom: -10px !important;
}

#navigation ul li a 	{
	display: inline-block;
	margin-top: 40px !important;
}

/* Replace the home button with a logo */
#navigation ul li.page-item-31, #navigation ul li.page-item-31:before, #navigation ul li.menu-item-98, #navigation ul li.menu-item-98:before	{
   text-indent: -5000px;
   width: 100px;
   height: 100px;
   overflow: none;
   margin: 0px;
   margin-left: 0px !important;
   padding: 0px;
   border:0px;
   outline: 0px;
   background: none;
}

#navigation ul li.page-item-31 a, #navigation ul li.page-item-31 a:hover, #navigation ul li.menu-item-98 a, #navigation ul li.menu-item-98 a:hover 	{
   background:url('/images/mppt_logo_small.png') !important;
   background-repeat: no-repeat !important;
   height:100px;
   margin-top: -21px !important;
}

#navigation ul	{
	background: none !important;
	border: 0px !important;
	box-shadow: none !important;
	pie-box-shadow: none !important;
}

#navigation ul li a, #navigation ul li a:hover, #navigation ul li.menu_item a	{
	text-shadow: none;
	border-bottom: none !important;
	margin-top: 2px;
	background: none !important;
}

/*Home page */

.home h1	{
	color: #444;
}

.cta	{
	padding-bottom: 10px !important;
}

/* Team pages */

.team_member {
	padding: 7px;
	border: 3px solid #2f368f;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    background: -moz-linear-gradient(270deg, #FFFFFF, #F1F1F1) repeat scroll 0 0 transparent;
 	background: -webkit-linear-gradient(270deg, #FFFFFF, #F1F1F1) repeat scroll 0 0 transparent;
	-pie-background: linear-gradient(#FFFFFF, #F1F1F1);
}

.team_member h2	{
	color: #444;
	margin-top: -10px;
}

/*Contact form*/
form	{
	background: -moz-linear-gradient(270deg, #FFFFFF, #F1F1F1) repeat scroll 0 0 transparent;
 	background: -webkit-linear-gradient(270deg, #FFFFFF, #F1F1F1) repeat scroll 0 0 transparent;
	-pie-background: linear-gradient(#FFFFFF, #F1F1F1);
	border: 1px solid gainsboro !important;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 10px;
}

form div, label, form div img	{
	background: none !important;
}

input	{
	background: #fff !important;
}

form h4	{
	display: none;
}

form img 	{
	margin-top: 20px;
}

form .submit	{
	text-align: right;
	border: 3px solid #ffe800 !important;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 15px;
	margin-left: 565px;
	margin-top: 20px;
	color: #fff !important;
	text-shadow: none !important;
	background: #2f368f !important;
}

form .submit:hover	{
	color: #e31936;
}

/*Resize items to fit in mobile sizes*/

/* Mobile */
@media only screen and (max-width: 767px) {
	.home h1	{
		font-size: 1.8em;
		line-height: 1.1em;
		margin-top: 20px;
		margin-left: 5px;
	}

	body	{
		background-size: 66%;
	}


	#navigation{
		background: none;
		margin-bottom: 50px !important;
	}

	#navigation ul li:before	{
		border: 0px;
	    border-radius: 0px;
		margin: 0px;
		padding: 0px;
	}


	#navigation ul li 	{
		padding-left: 7px !important;
		margin-left: 5px !important;
		border: 0px;
		border-left: 3px solid #ffe800 !important;
		background: #2f368f !important;
		-moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -khtml-border-radius: 0px;
	    border-radius: 0px;
	}

	#navigation ul li a 	{
		padding-top: 9px !important;
		padding-bottom: 7px !important;
		padding-left: 20px;
		margin-bottom: -25px;
		color: #fff !important;
	}

	#navigation ul li .active a, #navigation ul li .current_page_item a	{
		color: #ffe800 !important;
	}

	#navigation ul li.page-item-31, #navigation ul li.page-item-31:before, #navigation ul li.menu-item-98, #navigation ul li.menu-item-98:before	{
		border: 0px !important;
		background: none !important;
		margin-bottom: -25px !important;
	}

	img 	{
		width: 100% !important;
	}
}